body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
